html, body {
  height: 100%;
  margin-left : 10px;
  margin-right : 10px;

}

.question {
  color : red;
  width: 10%;
}

.문제 {
  color : black;
}

.답 {
  margin-inline: 10px;
  
  color: blue;
}

.answer {
  outline-style: solid;
  word-break:break-all;
  text-align: justify;
  text-justify: inter-character;
  
}